body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
section{ 
    display:flex; 
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#9c7c7c;
    /* background-image: url(./images/snow.png); */
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
} 
.container{
    top:70px;
    left: 68px;
    position: absolute;
    width: 80vw;
    margin-left: 2vw;
    height: 68vh;
    background:rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius:20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
}
header{
    position: absolute;
    top:-40px;
    right:20px;
    left:20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo{
    color:#ff0000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header  ul{
    display: flex;
}
header ul li{ 
    list-style: none;
    margin: 0 10px;
}
header ul li  a{ 
    width:100px; 
    height:50px;
    text-decoration: none;
    font-weight:600;
    padding: 10px;
    color:#ff0000;
    border-radius: 25px;
}
header ul li .About{
    width:100px; 
    height:30px;
    background:rgb(255, 255, 255); 
    color:rgb(255, 0, 0);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header ul li a:hover{ 
    width:100px; 
    height:30px;
    background:rgb(255, 255, 255); 
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
header ul li:hover{ 
    background:rgb(255, 255, 255);
}

.content{
    transform: translateX(-100px);
    max-width: 700px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding:40px; 
    -webkit-text-stroke: 0.004vw #ffffff;
    padding-left: 110px;
    margin-top: 50px;
}
.content h2
{
    font-size: 3em;
    font-weight: 400;
    color:#ffffff;
    -webkit-text-stroke: 0.14vw #f7f7f7;
    letter-spacing:0.2vw;
}  

.content h2::before{
	content: attr(data-text);
	position: absolute;
    top: 80px; 
    left:110px;
    padding:0px;
    margin:0px;
    white-space: nowrap;
	width: 560px;
	height: 60px;
	color: #ff0000;
    -webkit-text-stroke: 0.08vw #ffffff;
	border-right: 2px solid #fe0101;
	overflow: hidden;
	animation: ani 8s linear infinite;
}
@keyframes ani{
	0%,10%,100%{ 
		width: 0; 
	}
	70%,90%{
		width: 78%;
	}
}

.content p
{
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    color:#ff0000;
    word-spacing: 0.1em;
} 
.content a{
    display: inline-block;
    padding:15px 30px;
    background: rgb(209, 209, 209);
    color:#ff0000;
    margin-top:20px;
    border-radius:30px;
    font-weight: 500;
    text-decoration: none;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
}
.imgbx img{
    position: relative;
    width: 20vw;
    height: 80vh;
    animation:animate 5s linear infinite; 
} 
@keyframes animate{
    0%,100%{
        transform:translateY(-40px);
    }
    50%{
        transform:translateY(50px);
    }
}
.sci{
    position:absolute; 
    top:260px;
    right:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.sci li{ 
    list-style: none;
}
.sci li a{ 
    text-decoration: none;
    width:60px;
    height:60px;
    background:rgba(253, 249, 249, 0.37); 
    border-radius: 90%;
    /* display: flex;
    justify-content:center;
    align-items:center; 
    margin: 5px 0;
    border-radius:50%;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.5); */

} 
.sci li a img{
    transform:scale(0.6);
    transition: 0.5s;
}
.sci li:hover a img{ 
    transform:scale(0.6) rotate(360deg);
} 