/*root for declare variable */
:root{ 
    --mainColor:#16131370;
    --secondaryColor:rgba(0, 0, 0, 0.555); 
    --borderColor:#d6d6d6fb;

    --mainText:rgb(243, 243, 243);
    --secondaryText:#424242;
    --imageColor:rgba(78, 78, 78, 0.815);

    --themeDotBorder:#a6c4e2; 
    --previewBg: #868585bb;
    --previewShadow: #636363cc;

    --navigColor: rgb(252, 32, 32);
    --navigText:rgb(255, 255, 255);
    --bodyColor:rgb(252, 32, 32);
}  

/*body*/
body{
    margin:0;
    padding: 0px;  
    background-color:var(--bodyColor);
} 
/* all link of home,about,etc */
a{
    text-decoration: none;  
    color:#17a2b8;;
} 

/*all heading*/
h1,h2,h3,h4,h5,h6,strong,#settings-notes{  
    color: var(--mainText);  
    font-family: 'sans serif'; 
    font-weight: 500;
} 

/*list span,etc*/
li,span,label,input,textarea{ 
    font-family: 'Roboto', 'monospace';
    color:var(--secondaryText);
}    


/* ul and all heading font size */
ul{ list-style: none; }
h1{ font-size: 56px; }
h2{ font-size: 36px; }
h3{ font-size: 28px; }
h4{ font-size: 24px; }
h5{ font-size: 20px; }
h6{ font-size: 16px; }     

/*Navigation */
.navi-bar{ 
    margin: 0; 
    font-size:20px;
    color:var(--navigText); 
    margin-left:300px;
    display: grid;
    padding:0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    grid-column-gap:8px;
    grid-template-areas:
    'home-nav''About-nav''Projects-nav''Services-nav''Contact-nav '' ';
}
.home-nav{
    width:100px;
    height:40px;
    padding-top:20px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
.home-nav:hover{
    width:100px;
    height:40px;
    padding-top:60px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
.About-nav{
    width:100px;
    height:40px;
    padding-top:20px;
    border-radius: 0px 0px 10px 10px;
}
.About-nav:hover{
    width:100px;
    height:40px;
    padding-top:60px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
.Projects-nav{
    width:100px;
    height:40px;
    padding-top:20px;
    border-radius: 0px 0px 10px 10px;
}
.Projects-nav:hover{
    width:100px;
    height:40px;
    padding-top:60px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
.Services-nav{
    width:100px;
    height:40px;
    padding-top:20px;
    border-radius: 0px 0px 10px 10px;
}
.Services-nav:hover{
    width:100px;
    height:40px;
    padding-top:60px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
.Contact-nav{
    width:100px;
    height:40px;
    padding-top:20px;
    border-radius: 0px 0px 10px 10px;
}
.Contact-nav:hover{
    width:100px;
    height:40px;
    padding-top:60px;
    background-color:var(--navigColor);
    border-radius: 0px 0px 10px 10px;
}
/*only sections -1*/
#profile{
    background-color:var(--mainColor);
    border-bottom:var(--borderColor); 
    background-image:url("images/Background.jpg") ;
    background-repeat: no-repeat;
    background-size: 1500px 800px; 
}   

.s1{
    background-color:var(--mainColor);
    border-bottom:var(--borderColor);
}

/*only sections -2*/
.s2{
    background-color:var(--secondaryColor);
    border-bottom:var(--borderColor);
}   

/*only main-container */
.main-container{
    width:1200px; 
    height:800px;
    margin: 0 auto; 
} 

/*Greeting Wrapper */
.greeting-wrapper{
    display:grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

/*intro wrapper*/
.intro-wrapper{
    background-color: var(--secondaryColor); 
    border:1px solid var(--borderColor);   
    /* border-bottom: 105px solid var(--borderColor);  */
    border-radius:3px 3px 0px 0px ; 

    /*box shadow*/
    box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'; 
    
    /*box gradient*/
    background: -moz-linear-gradient(top,  rgba(76,76,76,0) 0%, rgba(89,89,89,0) 12%, rgba(102,102,102,0) 25%, rgba(71,71,71,0) 39%, rgba(44,44,44,0) 50%, rgba(0,0,0,0) 51%, rgba(17,17,17,0.26) 60%, rgba(43,43,43,0.73) 76%, rgba(34,34,34,0.99) 85%, rgba(28,28,28,0.99) 91%, rgba(19,19,19,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(76,76,76,0) 0%,rgba(89,89,89,0) 12%,rgba(102,102,102,0) 25%,rgba(71,71,71,0) 39%,rgba(44,44,44,0) 50%,rgba(0,0,0,0) 51%,rgba(17,17,17,0.26) 60%,rgba(43,43,43,0.73) 76%,rgba(34,34,34,0.99) 85%,rgba(28,28,28,0.99) 91%,rgba(19,19,19,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(76,76,76,0) 0%,rgba(89,89,89,0) 12%,rgba(102,102,102,0) 25%,rgba(71,71,71,0) 39%,rgba(44,44,44,0) 50%,rgba(0,0,0,0) 51%,rgba(17,17,17,0.26) 60%,rgba(43,43,43,0.73) 76%,rgba(34,34,34,0.99) 85%,rgba(28,28,28,0.99) 91%,rgba(19,19,19,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */


} 


/*nav-wrapper*/
.nav-wrapper {
    border-radius:3px 3px 0px 0px ;
    grid-area: nav-wrapper; 
    border-bottom: 1px solid var(--borderColor); 
    display: flex; 
    justify-content:space-between; 
    align-items:center; 
    background-color: var(--mainColor); 
}  

/*navigation*/
#navigation {
    margin:0;
    padding: 0;
}

/*navigation li*/
#navigation li{ 
    margin-right: 10px;
} 

#head5{
    text-align: center;
    line-height:0;
}

/*dots-wrapper*/
.dots-wrapper{
    display: flex; 
    padding:10px;
} 
.browser-dot{
    background-color:black;  
    height:15px;
    width:15px;
    border-radius:50% ; 
    margin:5px;

    /*box shadow*/
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9); 

}

/*dot-color 1 */ 
#dot-1{
    background-color:#f8180cda;
}

/*dot-color 2 */ 
#dot-2{
    background-color: #fdb204e8;
}

/*dot-color 3 */ 
#dot-3{
    background-color: #04f825de;
}

/*left-column*/
.left-column { 
    grid-area: left-column; 
    padding-top: 0px;
    padding-bottom: 50px;
}

/*image */
#profile-pic{  
    background-color: var(--imageColor); 
    display:block;
    margin:0 auto; 
    padding: 70px 0px 0px 0px;
    height:200px;
    width: 160px; 
    object-fit: cover; 
    /*box shadow*/
    box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75); 
    border-bottom: 1px solid var(--secondaryText);
    border-left: 1px solid var(--secondaryText);
    border-right: 1px solid var(--secondaryText); 
    border-radius: 5px 5px 40px 40px;
}  

/*theme option at center */
#theme-option-wrapper {
    display:flex;
    justify-content: center;
}

/*theme dot */
.theme-dot{
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color:black; 
    margin: 5px; 
    border: 2px solid var(--themeDotBorder);
    /*box shadow*/
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);  
    cursor: pointer;
}

/*hover effect for theme dot */
.theme-dot:hover{
    border-width: 5px;
}

/*light-mod setting*/
#light-mode{
    background-color: #fff;
}

/*blue-mode setting*/
#blue-mode{
    background-color: #192734;
}

/*green-mode setting*/
#green-mode{
    background-color: #2f441b;
}

/*purple-mode setting*/
#purple-mode{
    background-color: #7E4C74;
}

/*setting acknowledge message*/
#settings-notes{
    font-size: 12px;
    font-style: italic; 
    text-align: center;
}

/*right-column*/
.right-column { 
    grid-area: right-column; 
    display: grid ;
    align-content: center ; 
    padding-top: 50px;
    padding-bottom:50px;
} 

/*Shadow Box*/
#preview-shadow { 
    background-color: var(--previewShadow); 
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius:4px 4px 4px 4px ; 
    box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
}

#button-read{
    height:40px;
    padding:10px;
    margin-left:105px; 
    background-color:var(--navigColor);
    border: 1px solid var(--borderColor);
    color:var(--mainText);
    font-size:16px;
    box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
}
#button-read:hover{
    height:40px;
    padding:10px;
    margin-left:105px; 
    background-color:var(--mainText);
    border: 1px solid var(--navigColor);
    color:var(--navigColor);
    font-size:18px;
    text-align:center;
    box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 2px 5px 3px rgba(0,0,0,0.75);
}

/*message box preview*/
#preview{
    width: 300px;
    height: 180px;
    border: 1.5px solid var(--borderColor);
    background-color: var(--previewBg); 
    padding: 15px;
    position: relative; 
    box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 31px 17px 1px rgba(0,0,0,0.75);
}

/*corner balls*/
.corner{
    width:7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    background-color:#161515;
    position:absolute;
}

/*Top Left corner*/
#corner-tl{
    top: -5px;
    left: -5px;
} 

/*Top Right corner*/
#corner-tr{
    top: -5px;
    right: -5px;
}

/*Bottom Left corner*/
#corner-br{
    bottom: -5px;
    right: -5px;
}

/*Bottom Left corner*/
#corner-bl{
    bottom: -5px;
    left: -5px;
}

#What-i{
    color:black;
}

.home-social{
    width:140px;
    padding-right:20px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:white;
} 
.home-github{
    width:30px;
    font-size:30px;
    margin:10px;
    color:black;
}
.home-gmail{
    width:30px;
    margin:10px;
    font-size:30px;
    color:red;
}
.home-linkdin{
    width:30px;
    margin:10px;
    font-size:30px;
}

/*responsive*/
@media screen and (max-width:1200px){
    .main-container{
        width:95%;
    }
}

@media screen and (max-width:800px){
    .main-container{
        height:auto;
    } 
    body{ 
        background-color:var(--bodyColor);
    }
    .s1{

        background-size:auto ;
    }
    .right-column{
        background-color:var(--bodyColor);
    }
    .navi-bar{ 
        position:absolute;
        margin: 0; 
        font-size:16px;
        color:var(--navigText); 
        margin-left:25px;
        display: grid;
        padding:0;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 6fr;
        grid-column-gap:2px;
        grid-template-areas:
        'home-nav''About-nav''Projects-nav''Services-nav''Contact-nav '' ';
    }
    .home-nav{
        width:80px; 
        height:20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .home-nav:hover{
        width:80px;
        height: 20px;
        padding-top:20px;
        padding-bottom: 10px;
    }
    .About-nav{ 
        width:80px;
        height:20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .About-nav:hover{
        width:80px;
        height: 20px;
        padding-top:20px;
        padding-bottom: 10px;
    }
    .Projects-nav{
        width:80px;
        height:20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .Projects-nav:hover{
        width:80px;
        height: 20px;
        padding-top:20px;
        padding-bottom: 10px;
    }
    .Services-nav{
        width:80px;
        height:20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .Services-nav:hover{
        width:80px;
        height: 20px;
        padding-top:20px;
        padding-bottom: 10px;
    }
    .Contact-nav{
        width:80px;
        height:20px;
        padding-top:10px;
        padding-bottom: 10px;
    }
    .Contact-nav:hover{
        width:80px;
        height: 20px;
        padding-top:20px;
        padding-bottom: 10px;
    }
    .intro-wrapper{  
        grid-template-columns: 1fr;
        grid-template-areas:
        'navi-bar' 
        'nav-wrapper'
        'left-column'
        'right-column';
    }  
    .right-column{
        justify-content: center;
    } 
    #profile{
        background-size:550px 500px;
    } 
    #profile-pic{
        border-radius:50px 50px 50px 50px; 
        /*box shadow*/
    box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -12px 10px 5px rgba(0,0,0,0.75);
    }
    .text{
        font-size: 19px;
    } 
}