/*root for declare variable */
:root{ 
    --mainColor:#16131370;
    --secondaryColor:rgba(0, 0, 0, 0.555); 
    --borderColor:#424141fb;

    --mainText:rgb(243, 243, 243);
    --secondaryText:#a8a8a8;
    --imageColor:rgba(151, 148, 148, 0.815);

    --themeDotBorder:#a6c4e2; 
    --previewBg: #8c8c8dbb;
    --previewShadow: #a1a1a8cc;
}  

/*body*/
html,body{
    padding: 0;
    margin: 0; 

}  

/* all link of home,about,etc */
a{
    text-decoration: none;  
    color:#17a2b8;;
} 

/*all heading*/
h1,h2,h3,h4,h5,h6,strong,#settings-notes{  
    color: var(--mainText);  
    font-family: 'sans serif'; 
    font-weight: 500;
} 

/*list span,etc*/
li,span,label,input,textarea{ 
    font-family: 'Roboto', 'monospace';
    color:var(--secondaryText);
}    


/* ul and all heading font size */
ul{ list-style: none; }
h1{ font-size: 56px; }
h2{ font-size: 36px; }
h3{ font-size: 28px; }
h4{ font-size: 24px; }
h5{ font-size: 20px; }
h6{ font-size: 16px; }    

/*only sections -1*/
.s1{
    background-color:var(--mainColor);
    border-bottom:var(--borderColor); 
    background-image:url("images/Background.jpg") ;
    background-repeat: no-repeat;
    background-size: 1500px 800px;
}  

/*only sections -2*/
.s2{
    background-color:var(--secondaryColor);
    border-bottom:var(--borderColor);
}   

/*only main-container */
.main-container{
    width:1200px; 
    height:800px;
    margin: 0 auto; 
} 

/*Greeting Wrapper */
.greeting-wrapper{
    display:grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}

/*intro wrapper*/
.intro-wrapper{
    background-color: var(--secondaryColor); 
    border:1px solid var(--borderColor);   
    /* border-bottom: 105px solid var(--borderColor);  */
    border-radius:10px 10px 0px 0px ; 

    /*box shadow*/
    box-shadow: 12px -8px 15px 1px rgba(0,0,0,0.94);
    -webkit-box-shadow: 12px -8px 15px 1px rgba(0,0,0,0.94);
    -moz-box-shadow: 12px -8px 15px 1px rgba(0,0,0,0.94);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column';
} 


/*nav-wrapper*/
.nav-wrapper {
    border-radius:10px 10px 0px 0px ;
    grid-area: nav-wrapper; 
    border-bottom: 1px solid var(--borderColor); 
    display: flex; 
    justify-content:space-between; 
    align-items:center; 
    background-color: var(--mainColor); 
}  

/*navigation*/
#navigation {
    margin:0;
    padding: 10px;
}

/*navigation li*/
#navigation li{ 
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
} 

#head5{
    text-align: center;
    line-height:0;
}

/*dots-wrapper*/
.dots-wrapper{
    display: flex; 
    padding:10px;
} 
.browser-dot{
    background-color:black;  
    height:15px;
    width:15px;
    border-radius:50% ; 
    margin:5px;

    /*box shadow*/
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.9); 

}

/*dot-color 1 */ 
#dot-1{
    background-color:#f8180cda;
}

/*dot-color 2 */ 
#dot-2{
    background-color: #fdb204e8;
}

/*dot-color 3 */ 
#dot-3{
    background-color: #04f825de;
}

/*left-column*/
.left-column { 
    grid-area: left-column; 
    padding-top: 0px;
    padding-bottom: 50px;
}

/*image */
#profile-pic{  
    background-color: var(--imageColor); 
    display:block;
    margin:0 auto; 
    padding: 70px 0px 0px 0px;
    height:200px;
    width: 160px; 
    object-fit: cover; 

    /*box shadow*/
    box-shadow: 0px -27px 21px -6px rgba(0,0,0,0.82);
-webkit-box-shadow: 0px -27px 21px -6px rgba(0,0,0,0.82);
-moz-box-shadow: 0px -27px 21px -6px rgba(0,0,0,0.82);  
    border-bottom: 1px solid var(--secondaryText);
    border-left: 1px solid var(--secondaryText);
    border-right: 1px solid var(--secondaryText); 
    border-radius: 5px 5px 40px 40px;
}  

/*theme option at center */
#theme-option-wrapper {
    display:flex;
    justify-content: center;
}

/*theme dot */
.theme-dot{
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color:black; 
    margin: 5px; 
    border: 2px solid var(--themeDotBorder);
    /*box shadow*/
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);  
    cursor: pointer;
}

/*hover effect for theme dot */
.theme-dot:hover{
    border-width: 5px;
}

/*light-mod setting*/
#light-mode{
    background-color: #fff;
}

/*blue-mode setting*/
#blue-mode{
    background-color: #192734;
}

/*green-mode setting*/
#green-mode{
    background-color: #2f441b;
}

/*purple-mode setting*/
#purple-mode{
    background-color: #7E4C74;
}

/*setting acknowledge message*/
#settings-notes{
    font-size: 12px;
    font-style: italic; 
    text-align: center;
}

/*right-column*/
.right-column { 
    grid-area: right-column; 
    display: grid ;
    align-content: center ; 
    padding-top: 50px;
    padding-bottom:50px;
} 

/*Shadow Box*/
#preview-shadow { 
    background-color: var(--previewShadow); 
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    border-radius:4px 4px 4px 4px ;
}

/*message box preview*/
#preview{
    width: 300px;
    height: 180px;
    border: 1.5px solid var(--borderColor);
    background-color: var(--previewBg); 
    padding: 15px;
    position: relative;
}

/*corner balls*/
.corner{
    width:7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color:#fff;
    position:absolute;
}

/*Top Left corner*/
#corner-tl{
    top: -5px;
    left: -5px;
} 

/*Top Right corner*/
#corner-tr{
    top: -5px;
    right: -5px;
}

/*Bottom Left corner*/
#corner-br{
    bottom: -5px;
    right: -5px;
}

/*Bottom Left corner*/
#corner-bl{
    bottom: -5px;
    left: -5px;
}

#What-i{
    color:black;
}

/*responsive*/
@media screen and (max-width:1200px){
    .main-container{
        width:95%;
    }
}

@media screen and (max-width:800px){
    .main-container{
        height:auto;
    } 
    .s1{
        background-size:auto ;
    }
    .intro-wrapper{ 
        grid-template-columns: 1fr;
        grid-template-areas: 
        'nav-wrapper'
        'left-column'
        'right-column';
    }  
    .right-column{
        justify-content: center;
    }
}